{# {% extends "fileName.html.twig" %} #}

<h1>Your lucky char is: {{ char }} Yo-ho!</h1>
{# the image lives at "public/img/logo.png" #}
<img src="{{ asset('img/logo.png') }}" alt="Symfony!"/>

{% block name %}
   
   

{% endblock %}
