{% extends 'base.html.twig' %}

{% block content %}

<div class="header">
    <h2>My To Do List</h2>
    <form method="post" action="{{ path('create_task') }}">
        <input name="title" type="text" id="myInput" placeholder="Task title..." />
        <button type="submit" class="addBtn">Add a task</button>
    </form>
</div>

<ul>
    {% for task in tasks %}
    <li {% if task.status %}class="checked"{% endif %}>
        <a href="{{ path('switch_status', {'id':task.id }) }}"> <span class="task-list-item">{{ task.title }} </span> </a
        ><a onclick="return confirm('Are you sure to delete?')" href="{{ path('task_delete', {'id':task.id }) }}"><span class="close">X</span></a>
    </li>
    {% endfor %}
</ul>


{% endblock %}
